@use "variables" as*;

// hover and focus tags on buttons to show which list is selected/user experience

// h1 title change to show which region is being displayed

body {
   background-color: $clr-base-dk;
 }

.wrapper {
   width: 90%;
   margin: 0 auto;
   max-width: 1024px;
    @media (max-width: 450px){
      width: 95%;
    }
}

ol {
  margin: 0;
  list-style-position: inside;
  padding: 0; 
}



