@use "variables" as*;

// hover and focus tags on buttons to show which list is selected/user experience

// h1 title change to show which region is being displayed

body {
   background-color: $clr-base-dk;
 }

.wrapper {
   width: 90%;
   margin: 0 auto;
}

