@use "variables" as*;

// hover and focus tags on buttons to show which list is selected/user experience

// h1 title change to show which region is being displayed

body {
   background-color: $clr-base-dk;
 }

.wrapper {
   width: 90%;
   margin: 0 auto;
   max-width: 1024px;
}

ol {
  margin: 0;
  list-style-position: inside;
  padding: 0; 
}

h2 {
  display: inline-block;
}

button {
   background-color: $clr-accent;
   padding: 10px 5px;
   border-radius: 13px;
   width: 110px;
   margin: 10px; 


}

