@use "variables" as*;

// font-family: 'Roboto Condensed',
    // sans-serif;
    // font-size: 35px;

    // font-family: 'Cabin',
    // sans-serif;
    // font-size: 16px;

body {
    font-family: $secondary-font;
    font-size: 125%;
    color: $clr-white-off;
}

h2, li::marker {
    font-size: 1.8rem;
    @media (max-width: 650px) {
        font-size: 1.4rem;
    }
}

h1, h2 {
    font-family: $primary-font;
}

h1 {
    font-size: 5rem;
    text-align: center;
    @media (max-width: 950px) {
        font-size: 3.5rem;
    }
    @media (max-width: 650px) {
        font-size: 2.5rem;
    }
    @media (max-width: 350px) {
        margin: 10px 0;
    }
}


button {
   font-family: $secondary-font;
   text-transform: uppercase;
   letter-spacing: 1.2px;
   color: $clr-white-lt;
//    @media (max-width)
}

.back-to-top {
    text-decoration: none;
    color: $clr-white-off;
}

.ul-container {
    @media (max-width: 650px) {
    font-size: 0.8rem;
    }
}