//color palette
$clr-accent:  #00c030;
$clr-base-lt: #2c3440;
$clr-base-dk: #14181c;
$clr-black: #2E2C2F;
$clr-accent-hover: #1c8436;
$clr-accent-alt:  #FF8000;
$clr-accent-alt-hover:  #df7000;
$clr-white-off: #f6f6f6;
$clr-grey: #cbcbcb;

$primary-font: 'Roboto Condensed', sans-serif;
$secondary-font: 'Cabin', sans-serif;